# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore entire virtual environment directory
backend/movie_recommender_env/

# Ignore specific file types if they appear elsewhere
*.dylib
*.so

# Ignore specific large files
backend/movie_recommender_env/lib/python3.12/site-packages/clang/native/libclang.dylib
backend/movie_recommender_env/lib/python3.12/site-packages/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.so
backend/movie_recommender_env/lib/python3.12/site-packages/tensorflow/libtensorflow_cc.2.dylib